{% include "base.html" %}

{% block content %}

<body>

<h1>Employees</h1>

<table id="customers">
  <tr>
    <th>Firstname</th>
    <th>Username</th>
    <th>Department</th>
    <th>City</th>
    <th>Actions</th>
  </tr>
 
  {% for i in employee %}
  <tr>
    <td>{{i.firstname}}</td>
    <td>{{i.username}}</td>
    <td>{{i.department}}</td>
    <td>{{i.city}}</td>
    <td>
        <a href="{% url 'employeeUpdate' i.id %}">Edit</a>
        <a href="{% url 'employeeDelete' i.id %}">Delete</a>
  </tr>

  {% endfor %}

</table>

<form action="{% url 'employeeAdd' %}" method='POST'>

    {% csrf_token %}
    {{form.as_p}}
    
    <input type="submit" value="Submit">
</form>

</body>


{% endblock %}